**/.venv/
**/.venv_wsl/
**/venv/
**/env/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.vscode/
.idea/
data/
logs/
*.log
docker-compose.yml
.ipynb_checkpoints/
node_modules/
dist/
build/
.history/
.cache/
.pytest_cache/
