services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
    restart: always

  pgvector:
    image: ankane/pgvector:latest
    container_name: pgvector
    ports:
      - "5433:5432"
    volumes:
      - pgvector_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USERNAME:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-admin}
      - POSTGRES_DB=${POSTGRES_MAIN_DATABASE:-minirag}
    networks:
      - backend
    restart: always

networks:
  backend:
    driver: bridge

volumes:
  mongodata:
  pgvector_data: