services:
#Fast api app

#Ngnix server

#Postgres with pgvector
pgvector:
    image: ankane/pgvector:latest
    container_name: pgvector
    ports:
      - "5432:5432"
    volumes:
      - pgvector_data:/var/lib/postgresql/data
    env_file:
      - ./env/.env postgres
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

#qdrant

#prometheus monitoring


#grafana dashboard


# Node exporter for system metrics


#Postgres exporter for Postgres metrics
postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres-exporter
    ports:
      - "9187:9187"
    env_file:
      - ./env/.env postgres-exporter
    networks:
      - backend
    restart: always
    depends_on:
      pgvector:
        